$red: #e70911;
$white: #ffffff;
$gray: #b9b9b9;
$dark: #18181a;

@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container video{
    position: fixed;
    height: 100vh;
    height: 100%;
}
.content{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(120deg, $dark 0%, $dark 20%, #18181aC7 50%, $dark 80%, $dark 100%);
    color: $gray;
}
#nav{
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: space-around;
    align-items: center;
}
.spider{
    margin: 20px;
    transition: filter 250ms ease;
}
.spider:hover{
    filter: drop-shadow( 0 0 10px red);
}


.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.list li{
    font-family: 'Sora', sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    margin: 0 10px;
    letter-spacing: 0.2em;
    cursor: pointer;
    padding: .5em .2em;
    transition: color 250ms ease;
}
.list li:hover{
    color: $white;
}


.social{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    list-style: none;
}
.social img{
    cursor: pointer;
    height: 40px;
    padding: .4rem;
    transition: all 200ms ease;
}
.social img:hover{
    height: 60px;
    filter: drop-shadow( 0 0 5px red);
}

#mobile-menu{
    display: none;
    z-index: 2000;
}

.middle{
    height: calc(100% - 90px);
    display: flex;
    justify-content: start;
    align-items: flex-start;
    position: relative;
}
.miles{
    width: 50%;
    position: absolute;
    left: 500px;
}
.separator{
    margin: 50px 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.separator img{
    width: 550px;
}

.buttons{
    margin: 30px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.btn{
    width: min-content;
    height: 60px;
    margin: 0 5px;
    padding: 0 10px;
    transform: skewX(-20deg);
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: .7em;
    letter-spacing: .13em;
    z-index: 2;
    cursor: pointer;
    transition: .6s;
}
.btn:hover{
    transform: none;
}
.pre-order{
    background-color: $red;
    color: $white;
    border: $red 2px solid;
}
.pre-order:hover{
    border: $white 2px solid;
}
.teaser{
    background: none;
    border: 2px $red solid;
    color: $white;
}
.teaser:hover{
    background-color: $dark;
}
@media (max-width: 999px){
    .middle{
        flex-direction: column-reverse;
        align-items: center;
    }
    .miles{
        position: relative;
        margin: auto;
        margin-top: 0;
        margin-bottom: -20px;
        left: 0;
        right: 0;
        width: 60%;
    }
    .separator{
        margin: 30px;
    }
}
@media (max-width: 870px){
    .link-pages{
        position: absolute;
        width: 0;
        height: 100%;
        margin: auto;
        top: 0;
        right: 0;
        background-color: $dark;
        z-index: 1000;
        transition: 700ms;
        visibility: hidden;
        overflow-y: hidden;
    }
    .list{
        flex-direction: column;
        font-size: 1em;
        margin: 20px 0;
        width: 100%;
    }
    .list li{
        padding: 10px;
        margin: 20px;
        text-align: center;
    }

    .separator img{
        width: 90%;
    }



    .social{
        justify-content: space-between;
        margin: 0 20px;
    }
    #mobile-menu{
        display: block;
        cursor: pointer;
        padding: .5em;
    }
    .hamburger-menu{
        width: 32px;
        border-top: $white 2px solid;
        transition: 200ms;
    }
    .hamburger-menu::after , .hamburger-menu::before{
        content: '';
        display: block;
        width: 32px;
        height: 2px;
        background-color: $white;
        margin-top: 10px;
        transition: 400ms;
        position: relative;
    }
    #nav.active .link-pages{
        visibility: visible;
        width: 100%;
        align-items: start;
    }

    #nav.active .hamburger-menu{
        border-top-color: transparent;
    }
    #nav.active .hamburger-menu::after{
        transform: rotate(135deg);
        top: -12px;
    }
    #nav.active .hamburger-menu::before{
        transform: rotate(-135deg);
    }
}