@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container video {
  position: fixed;
  height: 100vh;
}

.content {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(120deg, #18181a 0%, #18181a 20%, #18181aC7 50%, #18181a 80%, #18181a 100%);
  color: #b9b9b9;
  overflow: hidden;
}

#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spider {
  margin: 20px;
  -webkit-transition: -webkit-filter 250ms ease;
  transition: -webkit-filter 250ms ease;
  transition: filter 250ms ease;
  transition: filter 250ms ease, -webkit-filter 250ms ease;
}

.spider:hover {
  -webkit-filter: drop-shadow(0 0 10px red);
          filter: drop-shadow(0 0 10px red);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.list li {
  font-family: 'Sora', sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  margin: 0 10px;
  letter-spacing: 0.2em;
  cursor: pointer;
  padding: .5em .2em;
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
}

.list li:hover {
  color: #ffffff;
}

.social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 300px;
  list-style: none;
}

.social img {
  cursor: pointer;
  height: 40px;
  padding: .4rem;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.social img:hover {
  height: 60px;
  -webkit-filter: drop-shadow(0 0 5px red);
          filter: drop-shadow(0 0 5px red);
}

#mobile-menu {
  display: none;
  z-index: 2000;
}

.middle {
  height: calc(100% - 90px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.miles {
  width: 50%;
  position: absolute;
  left: 500px;
}

.separator {
  margin: 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.separator img {
  width: 550px;
}

.buttons {
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.btn {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: 60px;
  margin: 0 3px;
  padding: 0 10px;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
  font-family: 'Sora', sans-serif;
  font-weight: 600;
  font-size: .7em;
  letter-spacing: .13em;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: .6s;
  transition: .6s;
}

.btn:hover {
  -webkit-transform: none;
          transform: none;
}

.pre-order {
  background-color: #e70911;
  color: #ffffff;
  border: #e70911 2px solid;
}

.pre-order:hover {
  border: #ffffff 2px solid;
}

.teaser {
  background: none;
  border: 2px #e70911 solid;
  color: #ffffff;
}

.teaser:hover {
  background-color: #18181a;
}

@media (max-width: 999px) {
  .middle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .miles {
    position: relative;
    margin: auto;
    margin-top: 0;
    margin-bottom: -20px;
    left: 0;
    right: 0;
    width: 60%;
  }
  .separator {
    margin: 30px;
  }
  .buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 870px) {
  .link-pages {
    position: absolute;
    width: 0;
    height: 100%;
    margin: auto;
    top: 0;
    right: 0;
    background-color: #18181a;
    z-index: 1000;
    -webkit-transition: 700ms;
    transition: 700ms;
    visibility: hidden;
    overflow-y: hidden;
  }
  .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1em;
    margin: 20px 0;
    width: 100%;
  }
  .list li {
    padding: 10px;
    margin: 20px;
    text-align: center;
  }
  .separator img {
    width: 80%;
  }
  .social {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 20px;
  }
  #mobile-menu {
    display: block;
    cursor: pointer;
    padding: .5em;
  }
  .hamburger-menu {
    width: 32px;
    border-top: #ffffff 2px solid;
    -webkit-transition: 200ms;
    transition: 200ms;
  }
  .hamburger-menu::after, .hamburger-menu::before {
    content: '';
    display: block;
    width: 32px;
    height: 2px;
    background-color: #ffffff;
    margin-top: 10px;
    -webkit-transition: 400ms;
    transition: 400ms;
    position: relative;
  }
  #nav.active .link-pages {
    visibility: visible;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  #nav.active .hamburger-menu {
    border-top-color: transparent;
  }
  #nav.active .hamburger-menu::after {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    top: -12px;
  }
  #nav.active .hamburger-menu::before {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
}
/*# sourceMappingURL=style.css.map */